	<script src="http://localhost:8002/includes/js/jquery.js"></script>
	<script src="http://localhost:8002/includes/js/bootstrap/bootstrap.min.js"></script>
	<script src="http://localhost:8002/includes/font/awesome/js/all.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>