<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Node App</title>
	<link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>This is the most awesome website on the net</h1>
	<p>You cannot find better website!</p>
	<div class="tab-container">
		<button class="button">Login</button>
		<button class="button">Register</button>
	</div>
</body>
</html>
